@import "tailwindcss";

.primary_gradient {
  background: linear-gradient(-132deg, #e677a1, #ffffff);
}
.secondary_gradient {
  background: linear-gradient(-32deg, #e677a1, #ffffff);
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
      }
      25% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(0);
      }
      75% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-100%);
      }
    
}

.slideInText{
    animation: slideIn 2s ease-in-out infinite;
}

.container{
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width:1200px){
  .container{
    max-width: 1094px;
  }
  .graphic{
    display: none;
  }

  
}
@media only screen and (max-width:1024px){
  .container{
    max-width: 900px;
  }
  .main_menu{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .search{
    display: none;
  }
  .icon_search{
    display: block;
  }
  .category_slider{
    height: 200px ;
    width: 200px ;
  }
  .hero_text{
    font-size: 40px;
  }
  .cta{
    padding: 8px 16px;
    /* margin-top: 10px; */
  }
}

@media only screen and (max-width:768px){
  .container{
    max-width:650px
  }
  .logo{
    width: 80px;
    height: 70px;
  }
  .hero{
    flex-direction: column;
    gap: 0px;
  }
  .hero_Image{
    height: 80%;
    padding-bottom: 4px;
    padding-right: 48px;
  }
  .text{
    padding: 4px 0px;
  }
}
@media only screen and (max-width:640px){
  .container{
    max-width:550px
  }
  .tagline{
    display: none;
  }
  .top_tagline{
    display: block;
  }
  .sub_header{
    display: none;
  }
  .slider_header{
    display: block;
  }
   .hero_text{
    font-size: 20px;
  }
    .cta{
    padding: 4px 8px;
    margin-top: 10px;
    font-size: small;
  }
}

@media only screen and (max-width:480px){
  .container{
    max-width:350px
  }
  .icon_search{
    display: none;
  }
}

@media only screen and (max-width:375px)
{
  .container{
    max-width: 275px;
  }
}
